*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

ul {
  list-style-type: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  font-family: 'gotham';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
}

body.overflow {
  overflow: hidden;
}

.container {
  max-width: 1594px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1480px) {
  .header__left {
    gap: 77px;
  }
  .header__right {
    gap: 66px;
  }
  .header__burger__text {
    width: 90px;
  }
  .header__logo img {
    width: 174px;
  }
  .header__logo::before {
    height: 140px;
    width: 174px;
  }
  .main {
    margin-top: 84px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger-wrapper {
  width: 155px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 97px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 103px;
}

.header__mail-wrapper, .header__phone-wrapper, .header__map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__mail-icon, .header__phone-icon, .header__map-icon {
  margin-right: 14px;
  position: relative;
  top: 2px;
}

.header__mail-text, .header__phone-text, .header__map-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__mail-text a,
.header__phone-text a,
.header__map-text a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__mail-text button,
.header__phone-text button,
.header__map-text span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #377ED9;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 12px;
  z-index: 1;
}

.header__logo::before {
  content: '';
  width: 246px;
  height: 186px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.burger {
  height: 100%;
  width: 60px;
  background-color: #377ED9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger__line {
  display: block;
  width: 28px;
  height: 2px;
  background: #fff;
  position: relative;
}

.burger__line::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 28px;
  height: 2px;
  background: #fff;
}

.burger__line::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 28px;
  height: 2px;
  background: #fff;
}

.header__burger__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F1F1F1;
  width: 95px;
  height: 100%;
  color: #000;
  line-height: 24px;
}

.main {
  background-image: url(../../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 84px 0;
  margin-top: 114px;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content {
  max-width: 904px;
}

.main__title {
  color: #fff;
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 28px;
}

.main__text {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
}

.main__text span {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.form {
  background-color: #fff;
  padding: 40px 60px 52px;
  max-width: 456px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 20px;
}

.form__input {
  padding: 17px 24px;
  border: 1px solid #E0E0E0;
  margin-bottom: 24px;
  outline: none;
  font-size: 18px;
  color: #333;
}

.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BDBDBD;
}

.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BDBDBD;
}

.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BDBDBD;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BDBDBD;
}

.form__btn {
  background-color: #377ED9;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.form__btn::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 4px;
  width: 100%;
  height: 44px;
  border: 1px solid #377ED9;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.form__btn:hover {
  background-color: #F88568;
}

.form__btn:hover::before {
  left: 0px;
  top: 0px;
  border: 1px solid #F88568;
}

.form__text {
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}

.form__text span {
  color: #377ED9;
}

.reasons {
  padding: 54px 0 81px;
}

.reasons__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #333;
  margin-bottom: 60px;
}

.reasons__title span {
  color: #F88568;
  font-size: 40px;
  line-height: 60px;
}

.reasons__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 244px;
}

.reasons__item-num {
  background-color: #F88568;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 auto 46px auto;
  position: relative;
}

.reasons__item-num span {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.reasons__item-num::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 3px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid #F88568;
}

.reasons__item-text {
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.services__inner {
  background-color: #F4F4F4;
  padding: 80px 132px 96px;
  margin-bottom: 80px;
}

.services__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #000;
  margin-bottom: 16px;
}

.services__text {
  line-height: 24px;
  margin-bottom: 28px;
}

.services__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

.services__images-img {
  width: 310px;
  height: 310px;
}

.services__images-img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.services__subtitle--bm {
  margin-bottom: 28px;
}

.services__subtitle--big {
  font-size: 32px;
}

.services__list {
  list-style-type: square;
  color: #377ED9;
  line-height: 24px;
  margin-bottom: 8px;
  margin-left: 20px;
  margin-bottom: 28px;
}

.services__list span {
  display: inline-block;
  color: #000;
}

.services__infographics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 40px 36px;
  background: #fff;
  margin-bottom: 28px;
}

.services__infographics-img img {
  width: 640px;
  height: 455px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}

.services__infographics-text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.services__num-list {
  margin-bottom: 72px;
}

.services__num-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.services__num-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  line-height: 24px;
  color: #377ED9;
  width: 24px;
  margin-right: 12px;
}

.services__num-text {
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.services__video {
  width: 100%;
  margin-bottom: 80px;
}

.services__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__table-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 16px 40px;
  margin-bottom: 2px;
}

.services__table-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  margin-right: 112px;
}

.services__table-text--titleHead, .services__table-text--priceHead {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #377ED9;
}

.services__manual {
  margin-bottom: 84px;
}

.services__manual-box {
  margin-top: 68px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 62px;
}

.services__manual-item {
  background-color: #fff;
  min-width: 420px;
  padding: 48px 36px 32px;
  position: relative;
}

.services__manual-number {
  position: absolute;
  top: -18px;
  left: 42px;
  display: inline-block;
  background-color: #fff;
  border: 4px solid #F88568;
  width: 38px;
  height: 38px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__manual-number span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #F88568;
}

.services__manual-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  color: #000;
}

.services__manual-text {
  line-height: 24px;
  color: #000;
}

.services__contact {
  background-image: url(../../img/form-images-bg.jpg);
  padding: 68px 100px 99px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-bottom: 80px;
}

.services__contact-overlay {
  position: absolute;
  background-color: rgba(8, 33, 62, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.services__contact-left, .services__contact-right {
  position: relative;
  z-index: 2;
}

.services__contact-left {
  max-width: 540px;
  margin-right: 20px;
}

.services__contact-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 20px;
}

.services__contact-text {
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 36px;
}

.services__contact-text span {
  font-weight: 700;
  text-transform: uppercase;
  color: #F88568;
}

.services__contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__contact-box img {
  margin-right: 28px;
}

.services__contact-subtext a {
  font-weight: 700;
}

.services__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 336px;
}

.services__contact-form input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 12px 24px;
  margin-bottom: 24px;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.services__contact-form input::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.services__contact-form input:-ms-input-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.services__contact-form input::-ms-input-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.services__contact-form input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.services__contact-btn {
  background-color: #fff;
  color: #377ED9;
  padding: 12px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.services__contact-btn::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.services__contact-btn:hover::before {
  left: 0px;
  top: 0px;
  border: 1px solid #fff;
}

.services__contact-form-text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.services__contact-form-text a {
  text-decoration: underline;
}

.services__certificate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.services__certificate-item {
  max-width: 310px;
  max-height: 394px;
}

.services__certificate-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vjs-poster {
  background-size: cover;
}

.application {
  background-color: #377ED9;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 80px 28px 40px;
  margin-bottom: 80px;
  margin-top: 12px;
}

.application__content {
  max-width: 752px;
  margin-right: 20px;
}

.application__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 12px;
}

.application__text {
  line-height: 24px;
  font-size: 16px;
}

.application__btn {
  background-color: #fff;
  color: #377ED9;
  padding: 12px 41px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  margin-bottom: 20px;
  position: relative;
  white-space: nowrap;
}

.application__btn::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.application__btn:hover::before {
  left: 0px;
  top: 0px;
  border: 1px solid #fff;
}

.footer {
  background-color: #042146;
  color: #fff;
  padding: 68px 0 80px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left, .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 196px;
}

.footer__right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}

.footer__nav-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 6px;
  display: block;
}

.footer__nav-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #377ED9;
  margin-bottom: 36px;
  display: inline-block;
}

.footer__nav-subtitle--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__nav-number {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 6px;
}

.footer__nav-callDown {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #F88568;
}

.footer__nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 28px;
  margin-bottom: 21px;
}

.footer__nav-copy {
  color: #BDBDBD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__list {
  margin-top: 18px;
}

.footer__item {
  margin-bottom: 12px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid #377ED9;
  padding: 12px 10px;
  border-radius: 10px;
  color: #377ED9;
  font-weight: 500;
  font-family: inherit;
}

.mobile-menu__item {
  margin-bottom: 30px;
}

.mobile-menu__link {
  font-size: 24px;
  color: #377ED9;
  font-weight: 500;
}

.mobile-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1480px) {
  .header__left {
    gap: 77px;
  }
  .header__right {
    gap: 66px;
  }
  .header__burger__text {
    width: 90px;
  }
  .header__logo img {
    width: 174px;
  }
  .header__logo::before {
    height: 140px;
    width: 174px;
  }
  .main {
    margin-top: 84px;
  }
}

@media screen and (max-width: 1280px) {
  .header__left {
    gap: 50px;
  }
  .header__right {
    gap: 50px;
  }
  .header__logo img {
    width: 148px;
  }
  .header__logo::before {
    height: 120px;
    width: 148px;
  }
  .header__mail-text a,
  .header__phone-text a,
  .header__map-text a {
    font-size: 16px;
  }
  .header__mail-text button,
  .header__phone-text button,
  .header__map-text span {
    font-size: 12px;
  }
  .header__burger-wrapper {
    width: 115px;
  }
  .main {
    margin-top: 75px;
  }
}

@media screen and (max-width: 1024px) {
  .header__mail-wrapper {
    display: none;
  }
  .header__map-wrapper {
    display: none;
  }
  .header__burger-wrapper {
    width: 105px;
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */