*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

ul {
  list-style-type: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  font-family: 'gotham';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: 1594px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 104px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger-wrapper {
  width: 155px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 97px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 103px;
}

.header__mail-wrapper, .header__phone-wrapper, .header__map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__mail-icon, .header__phone-icon, .header__map-icon {
  margin-right: 14px;
  position: relative;
  top: 2px;
}

.header__mail-text, .header__phone-text, .header__map-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__mail-text a,
.header__phone-text a,
.header__map-text a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__mail-text button,
.header__phone-text button,
.header__map-text span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #377ED9;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 12px;
  z-index: 1;
}

.header__logo::before {
  content: '';
  width: 246px;
  height: 186px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.burger {
  height: 100%;
  width: 60px;
  background-color: #377ED9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger__line {
  display: block;
  width: 28px;
  height: 2px;
  background: #fff;
  position: relative;
}

.burger__line::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 28px;
  height: 2px;
  background: #fff;
}

.burger__line::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 28px;
  height: 2px;
  background: #fff;
}

.header__burger__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F1F1F1;
  width: 95px;
  height: 100%;
  color: #000;
  line-height: 24px;
}

.main {
  background-image: url(../../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 84px 0;
  margin-top: 114px;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content {
  max-width: 904px;
}

.main__title {
  color: #fff;
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 28px;
}

.main__text {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
}

.main__text span {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.form {
  background-color: #fff;
  padding: 40px 60px 52px;
  max-width: 456px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 20px;
}

.form__input {
  padding: 17px 24px;
  border: 1px solid #E0E0E0;
  margin-bottom: 24px;
  outline: none;
  font-size: 18px;
  color: #333;
}

.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BDBDBD;
}

.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BDBDBD;
}

.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BDBDBD;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BDBDBD;
}

.form__btn {
  background-color: #377ED9;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.form__btn::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 4px;
  width: 100%;
  height: 44px;
  border: 1px solid #377ED9;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.form__btn:hover {
  background-color: #F88568;
}

.form__btn:hover::before {
  left: 0px;
  top: 0px;
  border: 1px solid #F88568;
}

.form__text {
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}

.form__text span {
  color: #377ED9;
}

.reasons {
  padding: 54px 0 81px;
}

.reasons__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #333;
  margin-bottom: 60px;
}

.reasons__title span {
  color: #F88568;
  font-size: 40px;
  line-height: 60px;
}

.reasons__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 244px;
}

.reasons__item-num {
  background-color: #F88568;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 auto 46px auto;
  position: relative;
}

.reasons__item-num span {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.reasons__item-num::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 3px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid #F88568;
}

.reasons__item-text {
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.services__inner {
  background-color: #F4F4F4;
  padding: 80px 132px 96px;
}

.services__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #000;
  margin-bottom: 16px;
}

.services__text {
  line-height: 24px;
  margin-bottom: 28px;
}

.services__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

.services__images-img {
  width: 310px;
  height: 310px;
}

.services__images-img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.services__subtitle--bm {
  margin-bottom: 28px;
}

.services__list {
  list-style-type: square;
  color: #377ED9;
  line-height: 24px;
  margin-bottom: 8px;
  margin-left: 20px;
  margin-bottom: 28px;
}

.services__list span {
  display: inline-block;
  color: #000;
}

.services__infographics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 40px 36px;
  background: #fff;
  margin-bottom: 28px;
}

.services__infographics-img img {
  width: 640px;
  height: 455px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}

.services__infographics-text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.services__num-list {
  margin-bottom: 72px;
}

.services__num-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.services__num-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  line-height: 24px;
  color: #377ED9;
  width: 24px;
  margin-right: 12px;
}

.services__num-text {
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.services__video {
  width: 100%;
  margin-bottom: 80px;
}

.services__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__table-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 16px 40px;
  margin-bottom: 2px;
}

.services__table-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  margin-right: 112px;
}

.services__table-text--titleHead, .services__table-text--priceHead {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #377ED9;
}

.vjs-poster {
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */