body{
    font-family: 'gotham';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
}
body.overflow{
    overflow: hidden;
}
.container{
    max-width: 1594px;
    padding: 0 15px;
    margin: 0 auto;
}


@media screen and (max-width:1480px) {
    .header{
        &__left{
            gap:77px;
        }
        &__right{
            gap:66px;
        }
        &__burger__text{
            width: 90px;
        }
        &__logo{
            & img{
                width: 174px;
            }
            &::before{
                height: 140px;
                width: 174px;
            }
        }
    }


    .main{
        margin-top: 84px;
    }
}