@media screen and (max-width:1480px) {
    .header{
        &__left{
            gap:77px;
        }
        &__right{
            gap:66px;
        }
        &__burger__text{
            width: 90px;
        }
        &__logo{
            & img{
                width: 174px;
            }
            &::before{
                height: 140px;
                width: 174px;
            }
        }
    }


    .main{
        margin-top: 84px;
    }
}
@media screen and (max-width:1280px){
    .header{
        &__left{
            gap:50px;
        }
        &__right{
            gap:50px;
        }
        &__logo{
            & img{
                width: 148px;
            }
            &::before{
                height: 120px;
                width: 148px;
            }
        }
        &__mail-text a,
        &__phone-text a,
        &__map-text a{
                font-size: 16px;
        }
        &__mail-text button,
        &__phone-text button,
        &__map-text span{
            font-size: 12px;
        }
        &__burger-wrapper{
            width: 115px;
        }
    }
    .main{
        margin-top: 75px;

        &__title{
            font-size: 32px;
            line-height: 44px;
        }
        &__text{
            font-size: 18px;
            line-height: 28px;
        }
    }
    .form{
        padding: 28px 44px;
        &__title{
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 16px;
        }
        &__input{
            padding: 11px 17px;
            margin-bottom: 16px;
            &::placeholder{
                font-size: 14px;
            }
        }
        &__text{
            font-size: 12px;
            line-height: 16px;
        }
    }
    .reasons{
        padding: 38px 0 52px;
        &__items{
            flex-wrap: wrap;
            justify-content: space-between;
            gap:28px 40px;
        }
        &__item-num{
            width: 42px;
            height: 42px;
            margin-bottom: 24px;
            &::before{
                width: 42px;
                height: 42px;
            }
        }
    }
}

@media screen and (max-width:1024px){
    .header{
        &__mail-wrapper{
            display: none;
        }
        &__map-wrapper{
            display: none;
        }
        &__burger-wrapper {
            width: 105px;
            height: 40px;
        }
    }
    .main{


        &__title{
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 20px;
        }
        &__text{
            font-size: 16px;
            line-height: 24px;
        }
    }
    .form{

        &__title{
            font-size: 16px;
        }
        &__input{

            &::placeholder{

            }
        }
        &__text{

        }
    }
}

@media screen and (max-width:768px){
    .main{
        padding: 70px 0 64px 0;
        &__flex{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__content{
            max-width: 100%;
            margin-bottom: 40px;
        }
    }
    .form{
        flex: 1 0 467px;
        padding: 28px 36px;

        &__title{
            font-size: 16px;
        }
        &__text{
            font-size: 14px;
        }
    }
    .reasons{
        &__item{
            width: 50%;
        }
        &__items{
        }

    }
}