.mobile-menu{
    position: absolute;
    top:0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    &__close{
        position: absolute;
        top:20px;
        right: 20px;
        border: 1px solid #377ED9;
        padding: 12px 10px;
        border-radius: 10px;
        color:#377ED9;
        font-weight: 500;
        font-family: inherit;
    }
    &__item{
        margin-bottom: 30px;
    }
    &__link{
        font-size: 24px;
        color: #377ED9;
        font-weight: 500;
    }
}
.mobile-menu.active{
    display: flex;
}